* {
    margin: 0;
    padding: 0;
}

html,
body {
    text-align: center;
    font-size: 10px;
    background-color: #063248;
    font-family: sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h5, p {
    color: #ffb703;
}

#heading{
    font-size: 50px;
    color: #ffb703;
}

.board {
    height: 30rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 9rem;
    border-radius: 1.5rem;
    background-color: #023047;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    color: #ffb703;
    font-size: 5rem;
    border: 1px solid #ffb703;
    cursor: pointer;
}

.scoreBoard {
    display:  flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.scoreBoard h5 {
    font-size: large;
}

.scoreBoard p {
    font-size: large;
}

.winnerPlayer {
    font-size: 30px;
    color: #ffb703;
    margin-top: -50px;
}

.winnerDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.newGameBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    padding: 1rem 1.2rem;
    background-color: #023047;
    box-shadow: 0 0 0.5rem #ffb703;
    border: 0;
    border-radius: 0.8rem;
    color: #ffb703;
}

.footer{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.footer span:nth-of-type(1){
    font-weight: bold;
}

.footer span:nth-of-type(2) {
    font-size: larger;
    font-weight: bold;
    color: red;
}

.hidden {
    display: none;
}